<div class="main-sidebar sidebar-style-2" style="background: #C9782F;">
    <aside id="sidebar-wrapper">
        <div class="sidebar-brand">
            <a href="/dashboard"> <img src="/assests/img/logo.png" class="header-logo"  alt="logo"></a>
        </div>
        <% if(role == 1) { %>
            <%- include("./super") %>
        <% }  else if( role == 2) { %>
            <%- include("./trader") %> 
        <% } else if( role == 3) { %>
            <%- include("./care") %> 
        <% } else if( role == 4) { %>
        <%- include("./marketing") %> 
        <% } else if( role == 5) { %>
        <%- include("./investment") %> 
        <% } %>
        
    </aside>
</div>