<!-- header -->
<%- include("../partials/header_admin") %> <%- include("../partials/sidebar") %>

<!-- Main Content -->
<div class="main-content">
  <%- include("../partials/alerts") %>
  <section class="section">
    <div class="section-body">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h4>All GiftCards</h4>
              
            <button type="button" class="btn btn-primary" style="margin-left: 700px;" data-toggle="modal" data-target="#exampleModal">
            Add New GiftCard
            </button>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-striped" id="table-1">
                  <thead>
                    <tr>
                      <th class="text-center">#</th>
                      <th>Name</th>
                      <th>Image</th>
                      <th>Date Created</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for (let i = 0; i < cards.length; i++ ) { %>
                    <tr>
                      <td><%= i + 1 %></td>
                      <td><%= cards[i].name %></td>
                      <td>
                        <img alt="gift-card" height="100" width="100" src="/uploads/<%= cards[i].image !== null ? cards[i].image :"image-1607515046658.png"  %>" class="img-thumbnail" >
                      </td>
                      <td><%= moment(cards[i].createdAt).format('DD-MM-YYYY') %></td>
                      <td>
                       
                        <form
                          id="delete-menu"
                          action="/delete/gift-card"
                          method="POST"
                        >
                          <input
                            type="hidden"
                            name="id"
                            value="<%= cards[i].id %>"
                          />
                          <button type="submit" class="btn btn-danger btn-pill mb-2" style="color: aliceblue">Delete</button>
                        </form>
                        
                      </td>
                    </tr>
                    <% } %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Create New Gift Card</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/create/gift-cards" method="POST" enctype="multipart/form-data">
              <div class="form-group">
                <label for="name">Gift Card Name</label>
                  <input type="text" class="form-control" name="name" placeholder="Name">
              </div>
              <div class="form-group">
                <label for="image">Gift Card Image</label>
                <input type="file" class="form-control" name="image">
              </div>
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
          </form>
        </div>
        
      </div>
    </div>
  </div>
</div>
<%- include("../partials/footer2") %>
