<!-- header -->
<%- include("../partials/header_admin") %>
<%- include("../partials/sidebar") %>

<!-- Main Content -->
<div class="main-content">
    <%- include("../partials/alerts") %>
    <section class="section">
        <div class="section-body">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Approved Withdrawals</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped" id="table-1">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th>Email</th>
                                            <th>Amount</th>
                                            <th>Transaction Reference</th>
                                            <th>Status</th>
                                            <th>Date Requested</th>
                                            <th>Approved Date</th>
                                            <th>Action</th>
                                            <!-- <th>Action</th> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <%  for (let i = 0; i < withdrawals.length; i++ ) { %>
                                        <tr>
                                            <td><%= i + 1 %></td>
                                            <td><%= withdrawals[i].user.email %></td>
                                            <td><%= Intl.NumberFormat('en-US', { style: 'currency', currency: 'NGN' }).format(withdrawals[i].amount.toFixed(3))  %></td>
                                            <td><%= withdrawals[i].reference %></td>
                                           

                                            <td><%= withdrawals[i].status %></td>
                                            <td><%= moment(withdrawals[i].createdAt).format("DD-MMM-YYYY") %></td>
                                            <td><%= moment(withdrawals[i].updatedAt).format("DD-MMM-YYYY") %></td>
                                            <td>
                                                <a href="/withdraw/details/<%= withdrawals[i].id  %> " class="btn btn-warning btn-pill" style="color: aliceblue;">
                                                    View
                                                </a>
                                                
                                            </td>
                                        </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<%- include("../partials/footer2") %>