<!-- header -->
<%- include("../partials/header_admin") %>
<%- include("../partials/sidebar") %>


<!-- Main Content -->

<!-- Main Content -->
<div class="main-content">
    <%- include("../partials/alerts") %>
    <section class="section">
        <div class="section-body">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Coins Type</h4>
                        </div>
                        <div class="card-body">
                            <h4>Investment Plans</h4>
                            <a href="/add/coin" class="btn btn-primary float-right mb-2">Add Coin</a>
                            <div class="table-responsive">
                                <table class="table table-striped" id="table-1">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th>Name</th>
                                            <th>Symbol</th>
                                            <th>Dollar Rate</th>
                                            <th>Naira Rate</th>
                                            <th>Transfer Charge</th>
                                            <th>Maximum Withdrawal</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <%  for (let i = 0; i < products.length; i++ ) { %>
                                        <tr>
                                            <td><%= i + 1 %></td>
                                            <td><%= products[i].name %></td>
                                            <td><%= products[i].symbol %></td>
                                            <td><%= Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(products[i].dollarRate.toFixed(3))  %></td>
                                            <td><%= Intl.NumberFormat('en-US', { style: 'currency', currency: 'NGN' }).format(products[i].rate.toFixed(3))  %></td>
                                            <td><%= products[i].charge %>%</td>
                                            <td><%= products[i].maxWithdrawal %>%</td>
                                            <td>
                                                <a href="/edit/coin/<%= products[i].id %>"
                                                    class="btn btn-primary btn-pill">Edit</a>
                                                <a href="/delete/coin/<%= products[i].id %>" class="btn btn-danger btn-pill" style="color: aliceblue;">
                                                    Delete
                                                </a>
                                                <form id="delete-menu" action="/delete/coin" method="POST"
                                                    style="display: none;">
                                                    <input type="hidden" name="id" value="<%= products[i].id %>">
                                                </form>
                                            </td>
                                        </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<%- include("../partials/footer2") %>