<!-- header -->
<%- include("../partials/header_admin") %>
<%- include("../partials/sidebar") %>

<!-- Main Content -->
<div class="main-content">
    <%- include("../partials/alerts") %>
   
    
        <section class="section">
            <div class="section-body">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-12">
                        <form action="/edit/user" method="POST"
                
                            class="needs-validation" novalidate="">
                            <div class="card">
                                <div class="card-header">
                                    <h4>You are about to edit  <%=user.name %>'s earning</h4>
                                   
                                </div>
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="name"> Name</label>
                                        <input type="text" class="form-control" tabindex="1"
                                        value="<%= user.name %>" readonly required autofocus disabled>
                                        
                                    </div>
                
                                    
                                    <div class="form-group">
                                        <label for="price">Wallet Balance</label>
                                        <input type="text" class="form-control" tabindex="1"
                                        value="<%= user.wallet %>" required autofocus disabled>
                                    </div>
                                    <% for(let i=0; i<coins.length; i++) { %>    
                                    <div class="form-group">
                                        <label for="duration"> <%= coins[i].coinTypes.symbol %> Balance</label>
                                        <input type="text" class="form-control" tabindex="1"
                                        value="<%= coins[i].balance %>" required autofocus disabled>
                                        
                                    </div>
                                    <% } %>
                                    <div class="form-group">
                                        <label for="duration">Package Type</label>
                                        <select name="account" id="coin" class="form-control" required>
                                            <option value="" disabled selected>Select Account Fund</option>
                                            <% for(let i=0; i< products.length; i++) { %> 
                                            <option value="<%= products[i].id  %>"><%= products[i].name  %></option>
                                            <% } %>
                                            <option value="wallet">Wallet</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            Please choose account to fund
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="ledger_balance">Add New Amount</label>
                                        <input id="ledger_balance" type="number" step="any" class="form-control" name="amount" tabindex="1"
                                        required autofocus>
                                        <div class="invalid-feedback">
                                            Please enter amount to add
                                        </div>
                                    </div>
                                    <input type="hidden" name="userId" value="<%= user.id %>">
                                </div>
                                <div class="card-footer text-right">
                                    <button class="btn btn-primary mr-1"
                                    type="submit">Update</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
<%- include("../partials/footer2") %></div>