<!-- header -->
<%- include("../partials/header_admin") %> <%- include("../partials/sidebar") %>

<!-- Main Content -->
<div class="main-content">
  <%- include("../partials/alerts") %>
  <section class="section">
    <div class="section-body">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h4>Exchange Rate Board</h4>
              
            <button type="button" class="btn btn-primary" style="margin-left: 700px;" data-toggle="modal" data-target="#exampleModal">
            Add New
            </button>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-striped" id="table-1">
                  <thead>
                    <tr>
                      <th class="text-center">#</th>
                      <th>Dollar</th>
                      <th>Naira</th>
                      <th>Date</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for (let i = 0; i < rates.length; i++ ) { %>
                    <tr>
                      <td><%= i + 1 %></td>
                      <td><%= Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(rates[i].dollar) %></td>
                      <td><%= Intl.NumberFormat('en-US', { style: 'currency', currency: 'NGN' }).format(rates[i].naira) %></td>
                      <td><%= moment(rates[i].createdAt).format('DD-MM-YYYY') %></td>
                      <td>
                       
                      <button type="button"  class="btn btn-danger updateRateBtn btn-pill mb-2" id="<%= rates[i].id %> " data-toggle="modal" data-target="#updatedRateModal">
                          Update
                        </button>
                      </td>
                    </tr>
                    <% } %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Create New Exhange Rate</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/exchange-rate" method="POST">
              <div class="form-group">
                  $<input type="number" class="form-control" name="dollar" readonly value="1">
              </div>
              <div class="form-group">
                  <input type="number" class="form-control" name="naira" placeholder="Enter Naira Equivalent">
              </div>
              
              
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        
      </div>
    </div>
  </div>

  <!-- Update Exchange Rate -->
  <div class="modal fade" id="updatedRateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Create New Exhange Rate</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/update-exchange-rate" method="POST">
            <input type="hidden" name="rateId" id="RateId" value="">
              <div class="form-group">
                  $<input type="number" class="form-control" name="dollar" readonly value="1">
              </div>
              <div class="form-group">
                  <input type="number" class="form-control" id="nairaRate" name="nairaRate" placeholder="Enter Naira Equivalent">
              </div>
              
              
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        
      </div>
    </div>
  </div>
</div>
<%- include("../partials/footer2") %>
<script>
    $(".updateRateBtn").click(()=>{
        console.log(123);
        var appId = $(".updateRateBtn").attr('id');
        console.log(appId);
        $.ajax({
            url:`/exchange-rate/${appId}`,
            method:"get",
            success:(res =>{
                console.log(res);
                $("#nairaRate").val(res.naira);
                $("#RateId").val(res.id);
            })
        })
    })
</script>
