<!-- header -->
<%- include("../partials/header_admin") %>
<%- include("../partials/sidebar") %>

<!-- Main Content -->
<div class="main-content">
    <%- include("../partials/alerts") %>
    <section class="section">
        <div class="section-body">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4><%= status %>  Withdrawals</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped" id="table-1">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Amount</th>
                                            <th>Account Name</th>
                                            <th>Account Number</th>
                                            <th>Date</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <%  for (let i = 0; i < withdrawals.length; i++ ) { %>
                                        <tr>
                                            <td><%= i + 1 %></td>
                                            <td><%= withdrawals[i].user.name%></td>
                                            <td><%= withdrawals[i].user.email %></td>
                                            <td><%=Intl.NumberFormat('en-US', { style: 'currency', currency: 'NGN' }).format((Number(withdrawals[i].amount))) %></td>
                                           

                                            <td><%= withdrawals[i].acct_name %></td>
                                            <td><%= withdrawals[i].acct_number %></td>
                                            <td><%= moment(withdrawals[i].createdAt).format("DD-MMM-YYYY") %></td>
                                            <td>
                                                <a href="/withdrawal-detail/<%= withdrawals[i].id %>" class="btn btn-primary">View</a>
                                            </td>
                                        </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<%- include("../partials/footer2") %>