<!-- header -->
<%- include("../partials/header_admin") %>
<%- include("../partials/sidebar") %>

<!-- Main Content -->
<div class="main-content">
    <%- include("../partials/alerts") %>
    <section class="section">
        <div class="section-body">
            <div class="row">
                <div class="col-12">
                   
                    <div class="card">
                        <div class="card-header">
                            <h4>Deposit Details</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped" id="table-1">
                                    <tbody>
                                        <tr>
                                            <td>Name</td>
                                            <td><%= deposits.user.name %></td>
                                        </tr>
                                        <tr>
                                            <td>Email</td>
                                            <td><%= deposits.user.email %></td>
                                        </tr>
                                        <tr>
                                            <td>Transaction reference</td>
                                            <td><%= deposits.reference %></td>
                                        </tr>
                                        <tr>
                                            <td>Amount</td>
                                            <td><%= deposits.amount %></td>
                                        </tr>
                                        <tr>
                                            <td>Coin Type</td>
                                            <td><%= deposits.channel %></td>
                                        </tr>
                                        <tr>
                                            <td>Transaction Status</td>
                                            <td class="text-default"><%= deposits.status %></td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Date</td>
                                            <td><%= moment(deposits.createdAt).format("DD-MM-YYYY") %></td>
                                        </tr>
                                        <% if(deposits.status === "pending") { %> 
                                        <tr>
                                            <td>Approve</td>
                                            <td><a class="btn btn-warning" href="/approve-deposit/<%= deposits.id %>">Approve</a></td>
                                        </tr>
                                        <% } %> 
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<%- include("../partials/footer2") %>