<!-- header -->
<%- include("../partials/header_admin") %>
<%- include("../partials/sidebar") %>

<!-- Main Content -->
<div class="main-content">
    <%- include("../partials/alerts") %>
    <section class="section">
        <div class="section-body">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            
                            <h4 class="float-left">Blog Posts</h4>
                            <a href="/add/post" class="btn btn-info pull-right">Create Post</a>
                        </div>
                        <div class="card-body">
                            
                            <div class="table-responsive">
                                <table class="table table-striped" id="table-1">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th>Title</th>
                                            <th>Author</th>
                                            <th>Published</th>
                                            <th>Date</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <%  for (let i = 0; i < posts.length; i++ ) { %>
                                        <tr>
                                            <td><%= i + 1 %></td>
                                            <td><%= posts[i].title %></td>
                                            <td><%= posts[i].author %></td>
                                            <td><%= posts[i].publish %></td>
                                            <td><%= moment(posts[i].createdAt).format("DD-MMM-YYYY") %></td>
                                            <td>
                                                <a href="/view/post/<%= posts[i].id  %> " class="btn btn-warning btn-pill" style="color: aliceblue;">
                                                    View
                                                </a>
                                                
                                            </td>
                                        </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<%- include("../partials/footer2") %>