<!-- header -->
<%- include("../partials/header_admin") %>
<%- include("../partials/sidebar") %>

<!-- Main Content -->
<div class="main-content">
    <%- include("../partials/alerts") %>
    <section class="section">
        <div class="section-body">
            <div class="row">
                <div class="col-12">
                   
                    <div class="card">
                        <div class="card-header">
                            <h4>Transfer Details</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped" id="table-1">
                                    <tbody>
                                        <tr>
                                            <td>Name</td>
                                            <td><%= withdraw.user.name %></td>
                                        </tr>
                                        <tr>
                                            <td>Email</td>
                                            <td><%= withdraw.user.email %></td>
                                        </tr>
                                        <tr>
                                            <td>Transaction reference</td>
                                            <td><%= withdraw.reference %></td>
                                        </tr>
                                        <tr>
                                            <td>Quantity</td>
                                            <td><%= withdraw.amount %> <%= withdraw.coin.symbol %> </td>
                                        </tr>
                                        <tr>
                                            <td>Transfer Charge</td>
                                            <td><%= withdraw.charge %> %</td>
                                        </tr>
                                        <tr>
                                            <td>Coin Type</td>
                                            <td><%= withdraw.coin.name %></td>
                                        </tr>
                                        
                                        <tr>
                                            <td>Transaction Status</td>
                                            <td class="text-default"><%= withdraw.status %></td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Date</td>
                                            <td><%= moment(withdraw.createdAt).format("DD-MMM-YYYY") %></td>
                                        </tr>
                                        <% if(withdraw.status === "pending") { %> 
                                        <tr>
                                            <td>Approve</td>
                                            <td>
                                                <form action="/approve-transfer" class="form-inline ml-4" method="POST">
                                                    <input type="hidden" name="id" value="<%= withdraw.id  %> ">
                                                    <!-- <input type="text" name="hash" class="form-control mr-4" required placeholder="Transaction Hash"> -->
                                                    <input type="submit" class="btn btn-info" value="Approve">
                                                </form>
                                            </td>
                                        </tr>

                                        <% } %> 
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<%- include("../partials/footer2") %>