<!-- header -->
<%- include("../partials/header_admin") %>
<%- include("../partials/sidebar") %>


<!-- Main Content -->

<!-- Main Content -->
<div class="main-content">
    <%- include("../partials/alerts") %>
    <section class="section">
        <div class="section-body">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Investment Plans</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped" id="table-1">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th>Wallet Address</th>
                                            <th>Wallet Type</th>
                                            <th>Wallet Balance</th>
                                            <th>Status</th>
                                            <th>AssignTo</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <%  for (let i = 0; i < wallets.length; i++ ) { %>
                                        <tr>
                                            <td><%= i + 1 %></td>
                                            <td><%= wallets[i].walletAddress %></td>
                                            <td><%= wallets[i].coin.name %></td>
                                            <td><%= wallets[i].balance %></td>
                                            <td><%= wallets[i].status %></td>
                                            <td><%= wallets[i].user ? wallets[i].user.email : "Unassign"   %></td>

                                            <td>
                                                <a href="/edit/wallet/<%= wallets[i].id %>"
                                                    class="btn btn-primary btn-pill">Edit</a>
                                                <a href="/delete/wallet/<%= wallets[i].id %>" class="btn btn-danger btn-pill" style="color: aliceblue;">
                                                    Delete
                                                </a>
                                                
                                            </td>
                                        </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<%- include("../partials/footer2") %>