<!-- header -->
<%- include("../../partials/header") %>
<%- include("../../partials/user_sidebar") %>

<!-- Main Content -->
<div class="main-content">
    <%- include("../../partials/alerts") %>

    <section class="section">
        <div class="section-body">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Deposits History</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped" id="table-1">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th>Amount</th>
                                            <th>Type</th>
                                            <th>Status</th>
                                            <th>Date Approved</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <%  for (let i = 0; i < deposits.length; i++ ) { %>
                                        <tr>
                                            <td><%= i + 1 %></td>
                                            <td><%= Intl.NumberFormat('en-US', { style: 'currency', currency: 'NGN' }).format(deposits[i].amount) %></td>
                                            <td><%= deposits[i].channel === "PAYSTACK" ? "Naira Wallet" : "Crypto Wallet" %></td>
                                            <% if (deposits[i].status === "pending") { %>
                                             <td class="text-info text-bold">PENDING</td>
                                            <% } %>
                                            <% if (deposits[i].status === "approved") { %>
                                            <td class="text-success text-bold">APPROVED</td>
                                            <% } %>
                                            <% if (deposits[i].status === "disapproved") { %>
                                            <td class="text-danger text-bold">DISAPPROVED</td>
                                            <% } %>
                                            <td><%= moment(deposits[i].createdAt).format("DD-MMM-YYYY") %></td>
                                            
                                        </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<%- include("../../partials/user_footer") %>