<!-- header -->
<%- include("../../partials/header") %>
<%- include("../../partials/user_sidebar") %>
<!-- Main Content -->
<div class="main-content">
    <%- include("../../partials/alerts") %>
    <section class="section">
        <div class="row ">
            <% for(let i=0; i<coins.length; i++) { %>     
                <div class="col-lg-6 col-md-6 col-sm-4 col-12">
                    <div class="card card-statistic-1">
                        <div class="card-icon l-bg-cyan">
                            <i class="fas fa-wallet"></i>
                        </div>
                        <div class="card-wrap">
                            <div class="padding-20">
                                <div class="text-right">
                                    <h3 class="font-light mb-0">
                                        <i class="ti-arrow-up text-success"></i><%= coins[i].balance %> <%= coins[i].coinTypes.symbol %>
                                    </h3>
                                    <span class="text-muted">PayBuyMax Amount: <%= Intl.NumberFormat('en-US', { style: 'currency', currency: 'NGN' }).format((Number(coins[i].balance) * Number(coins[i].coinTypes.rate)).toFixed(3))   %></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %> 
        </div>
    </section>

    <section class="section">
        <div class="section-body">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12">
                    <form action="#" class="needs-validation" novalidate=""
                        id="withdarawForm">
                        <div class="card">
                            <div class="card-header">
                                <h4>Sell From Wallet</h4>
                            </div>
                            <div class="card-body">
                                <input type="hidden" id="userId" value="<%= user.id  %>">
                                <div class="form-group">
                                    <label for="">Choose Wallet Address</label>
                                    <select name="coin" id="coin" class="form-control" required>
                                        <option value="" disabled selected>Select Coin</option>
                                        <% for(let i=0; i< products.length; i++) { %> 
                                        <option value="<%= products[i].id  %>"><%= products[i].name  %></option>
                                        <% } %> 
                                    </select>
                                    <div class="invalid-feedback">
                                        Please select your wallet address
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="">Sell By</label>
                                    <select name="medium" id="medium" class="form-control" required>
                                        <option value="" disabled selected>Choose medium</option>
                                        <option value="usd">USD</option>
                                        <option value="naira">Naira</option>
                                        <option value="qty">Quantity</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Please select Medium of calculation
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label for="name">Amount</label>
                                    <input type="number" class="form-control" step="any" name="qty" id="qty" tabindex="1" required
                                        autofocus>
                                    <div class="invalid-feedback">
                                        Please fill in amount
                                    </div>
                                    <div class="invalid-feedback" id="rate-box" style="display: none;">
                                        <div class="row">
                                            <div class="col-md-6">
                                                Dollar Exchange Rate<input type="number" value="" name="rate" id="rate" class="form-control" readonly>
                                            </div>
                                            <div class="col-md-6">
                                                Naira Exchange Rate<input type="number" value="" name="nairaRate" id="nairaRate" class="form-control" readonly>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" id="amt" style="display: none;">
                                    <div class="row">
                                        <div class="col-md-4 form-group" style="display: none;" id="usdBox">
                                            <label for="">USD Equivalent</label>
                                            <input type="text" class="form-control" step="any" readonly value="" id="usdE">
                                        </div>
                                    
                                        <div class="col-md-4 form-group" style="display: none;" id="nairaBox">
                                            <label for="">Naira Equivalent</label>
                                            <input type="text" class="form-control" step="any" readonly value="" id="nairaE">
                                        </div>
                                    
                                        <div class="col-md-4 form-group" style="display: none;" id="qtyBox">
                                            <label for="">Quantity Equivalent</label>
                                            <input type="text" class="form-control" step="any" readonly value="" id="qtyE">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <input type="hidden" id="balance" name="balance">
                            
                            <div class="card-footer text-right">
                                <button class="btn btn-primary btn-block" type="button" data-toggle="modal" id = "sellCoinBtn" data-target="#sellNow">Sell Coin</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" id="sellNow" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- <h4 class="modal-title" id="myCenterModalLabel">Payment for: </h4> -->
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <center>
                        
                        <p class="text-muted font-16" id="statement"></p>
                        <h3 class="mb-0">Enter Confirmation Code Sent to Your Email</h3>
                        
                        <p class="text-muted font-13 mt-1">
                           
                            <form action="/sell-coin" method="POST">
                                <input type="text" id="code" class="form-control" name="code" required>
                                <input type="hidden" name="user_id" value="<%= user.id  %> " >
                                
                                <input type="hidden" id="sellBy"  name="sellBy" value="" >
                                <input type="hidden" id="amount"  name="amount" value="" >
                                <input type="hidden" id="coinId" name="coinId" value="" >
                                <button class="btn btn-info mt-5" id="confirmPayment" type="submit">Confirm Sale</button></p>
                        </form>
                           
                    </center>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>
<%- include("../../partials/user_footer2") %>
<script>
    $(document).ready(()=>{
        // var walletType = $('#coin').find(":selected").val();
        $("#sellCoinBtn").click(()=>{
            var amount = $("#qty").val();
            
            $('#amount').val(amount);
            var userId = $('#userId').val();
            
            var coinType = $("#coin").val();
            var medium = $('#medium').val();
            $.ajax({
                url:"/transaction/code",
                method: "post",
                data:{userId, amount, coinId: coinType, medium},
                success:(res) =>{
                    console.log(res);
                    var balance = $("#balance").val(res.balance)
                }
            })
        })
       
        $('#coin').change(()=>{
            var walletType = $("#coin").val();
            $("#qty").val('')
            $("#qtyE").val('')
            $("#usdE").val('')
            $("#nairaE").val('')
            // var channel = $("#coin option:selected").text();
            console.log(walletType);
            $("#coinId").val(walletType)
            console.log($("#coinId").val());
            $.ajax({
                url:"/get/exchange/"+walletType,
                method: "get",
                success:(res) =>{
                    console.log(res);
                    $("#rate-box").show();
                    $("#rate").val(res.dollarRate)
                    $("#nairaRate").val(res.rate)
                }
            })
        })

        $('#medium').change(()=>{
            
            $("#qty").val('')
            $("#qtyE").val('')
            $("#usdE").val('')
            $("#nairaE").val('')
            var medium = $('#medium').val();
            console.log(medium);
            if (medium === "usd") {
                $("#nairaBox").hide();
                $("#qtyBox").show();
                $("#usdBox").hide();
                $("#sellBy").val(medium)
            }else if (medium === "naira") {
                $("#usdBox").hide();
                $("#qtyBox").show();
                $("#nairaBox").hide();
                $("#sellBy").val(medium)
            }else if (medium === "qty") {
                $("#nairaBox").show();
                $("#qtyBox").hide();
                $("#usdBox").show();
                $("#sellBy").val(medium)
            }else{
                $("#amt").hide()
            }
                    
                
            $("#amt").show()
            
        })

        $("#qty").keyup(()=>{
            var dollarRate = $("#rate").val()
            var nairaRate = $("#nairaRate").val()
            var medium = $('#medium').val();
            var amount =$('#qty').val();
            if (medium === "usd") {
                var x = (amount/dollarRate).toFixed(5)
                $("#qtyE").val(x)
                // $("#nairaE").val(y)
            }else if (medium === "naira") {
                var x = (amount/nairaRate).toFixed(5)
                // var y = (amount/nairaRate)
                $("#qtyE").val(x)
            }else if (medium === "qty") {
                var x = (amount*dollarRate).toFixed(5)
                var y = (amount*nairaRate).toFixed(5)
                x = Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(x)
                
                y = Intl.NumberFormat('en-US', { style: 'currency', currency: 'NGN' }).format(y)
                $("#usdE").val(x)
                $("#nairaE").val(y)
            }else{
                $("#amt").hide()
            }
        })
        
        
    })
</script>
</body>

</html>