<!-- header -->
<%- include("../../partials/header") %>
<%- include("../../partials/user_sidebar") %>

<!-- Main Content -->
<div class="main-content">
    <%- include("../../partials/alerts") %>

    <section class="section">
        <div class="section-body">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Investments History</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped" id="table-1">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th>Package</th>
                                            <th>Amount</th>
                                            <th>Investment Date</th>
                                            <th>Due Date</th>
                                            <th>Status</th>
                                            <th>View</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <%  for (let i = 0; i < investments.length; i++ ) { %>
                                        <tr>
                                            <td><%= i + 1 %></td>
                                            <td><%= investments[i].package.name %> Plan</td>
                                            <td><%= Intl.NumberFormat('en-US', { style: 'currency', currency: 'NGN' }).format(investments[i].amount.toFixed(3)) %></td>
                                            <td><%= moment(investments[i].createdAt).format("DD-MMM-YYYY") %></td>
                                            <td><%= moment(investments[i].expiredAt).format("DD-MMM-YYYY") %></td>
                                            <td><%= investments[i].status %></td>
                                            <td>
                                                <a href="/user-investment/<%= investments[i].id %> " class="btn btn-primary">View</a>
                                            </td>
                                            
                                          
                                        </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<%- include("../../partials/user_footer") %>