<!-- header -->
<%- include("../../partials/header") %>
<%- include("../../partials/user_sidebar") %>

<!-- Main Content -->
<div class="main-content">
    <%- include("../../partials/alerts") %>

    <section class="section">
        <div class="section-body">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>My Transfer History</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped" id="table-1">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th>Product Type</th>
                                            <th>Quantity</th>
                                            <th>Wallet Address</th>
                                            <th>Status</th>
                                            <th>Referrence</th>
                                            <th>Date</th>
                                            <th>View</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <%  for (let i = 0; i < history.length; i++ ) { %>
                                        <tr>
                                            <td><%= i + 1 %></td>
                                            <td><%= history[i].coin.name %></td>
                                            <td><%= history[i].amount %></td>
                                            <td><%= history[i].walletAddress %></td>
                                            <td><%= history[i].status %></td>
                                            <td><%= history[i].reference %></td>
                                            <td><%= moment(history[i].createdAt).format("DD-MMM-YYYY") %></td>
                                            <td>
                                                <a href="/view-transfer/<%= history[i].id %> " class="btn btn-primary">View</a>
                                            </td>
                                            
                                          
                                        </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<%- include("../../partials/user_footer") %>