<!-- header -->
<%- include("../../partials/header") %>
<%- include("../../partials/user_sidebar") %>
<!-- Main Content -->
<div class="container container-fluid">
    
</div>
<div class="main-content">
    <%- include("../../partials/alerts") %>
    <!-- <div class="alert alert-info alert-dismissible fade show" role="alert" style="max-width: 80%; background-color:#776d6d; color: #ffffff;">
        <strong>Important notice:</strong><span>3% Withdrawal Charges will be removed and a Processing Fee of <%= Intl.NumberFormat('en-US', { style: 'currency', currency: 'NGN' }).format(200) %> </span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div> -->
    <section class="section">
        <div class="row ">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card card-statistic-1">
                    <div class="card-icon l-bg-cyan">
                        <i class="fas fa-wallet"></i>
                    </div>
                    <div class="card-wrap">
                        <div class="padding-20">
                            <div class="text-right">
                                <h3 class="font-light mb-0">
                                    <i class="ti-arrow-up text-success"></i> <%= Intl.NumberFormat('en-US', { style: 'currency', currency: 'NGN' }).format(wallet.toFixed(3)) %>
                                </h3>
                                <span class="text-muted">Wallet Balance</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </section>

    <section class="section">
        <div class="section-body">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12">
                    <% if (user.kyc !== null) { %>
                        <% if (user.kyc.status === true) { %>
                            <form class="needs-validation" id="withdarawForm">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>Withdraw From Wallet</h4>
                                    </div>
                                    <div class="card-body">
                                        
                                        <div class="form-group">
                                            <label for="">Account Name</label>
                                            <input type="text" class="form-control" id="act_name" name="act_name"
                                                tabindex="1" required autofocus>
                                            <div class="invalid-feedback">
                                                Please fill in your account name
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="">Account Number</label>
                                            <input type="text" class="form-control" name="act_number" tabindex="1" id="act_number"
                                                required autofocus>
                                            <div class="invalid-feedback">
                                                Please fill in account number
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="name">Amount</label>
                                            <input type="number" step="any" class="form-control" id="user_amount" name="user_amount" tabindex="1" required
                                                autofocus>
                                            <div class="invalid-feedback">
                                                Please fill in amount
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="name">Select Bank</label>
                                            <select name="bank_code" class="form-control bank_list" id="bank">
                                                <option selected disabled>Select Your Bank</option>
                                                <% for( let i = 0; i < banks.length; i++ ) { %>
                                                <option value="<%= banks[i].code %>"><%= banks[i].name %></option>
                                                <% } %>
                                                
                                            </select>
                                            <div class="invalid-feedback">
                                                Please select bank
                                            </div>
                                        </div>
                                        <div class="row" id="verify" style="display: none;">
                                            <div class="form-group col-md-4">
                                                <input type="text" id="message" class="form-control text-success" disabled>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <input type="text" id="acctNumber" class="form-control text-success" disabled>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <input type="text" id="acctName" class="form-control text-success" disabled>
                                            </div>
                                        </div>
                                        <div id="errMsg" style="display: none;">
                                            <div class="text-danger" id="feedbk">
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" id="user_id" value="<%= user.id  %> ">
                                    <div class="card-footer text-right">
                                        <button class="btn btn-primary btn-block" type="button" data-toggle="modal" id = "withdrawBtn" data-target="#withdawNow">Withdraw</button>
                                    </div>
                                </div>
                            </form>
                        <% } %>
                        <% if (user.kyc.status !== true) { %>
                            <h3>You can not Perform This Transaction Please Wait For Admin Verification</h3>
                        <% } %>
                    
                    <% } %>
                    <% if (user.kyc === null) { %>
                     <h3>You can not Perform This Transaction Please Goto the settings Section to complete Your Profile And KYC</h3>
                    <% } %>
                    
                </div>
            </div>
        </div>
    </section>
    <div class="modal fade" id="withdawNow" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- <h4 class="modal-title" id="myCenterModalLabel">Payment for: </h4> -->
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <center>
                        <div id="showAlert">
                            <h3 class="mb-0" id="coinBalance"></h3>
                        </div>
                        
                        
                        
                        <p class="text-muted font-13 mt-1">
                           
                            <form action="/userwithdraw" method="POST" id="codeBox" style="display: none;">
                                <h3 class="mb-0">Enter Confirmation Code Sent to Your Email</h3>
                                <input type="text" id="code" class="form-control" name="code" required>
                                <input type="hidden" name="userId" value="<%= user.id  %> ">
                                
                                <input type="hidden" id="amount"  name="amount" value="" >
                                <input type="hidden" id="bank_name" name="bank_name" value="" >
                                <input type="hidden" id="bank_code" name="bank_code" value="" >
                                <input type="hidden" id="acct_name" name="acct_name" value="" >
                                <input type="hidden" id="acct_number" name="acct_number" value="" >
                                <button class="btn btn-info mt-5" id="confirmPayment" type="submit">Confirm Code</button></p>
                        </form>
                           
                    </center>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>
<%- include("../../partials/user_footer2") %>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
    
    $(document).ready(()=>{
        $('.bank_list').select2();
        
        $("#bank").change(()=>{
            $("#verify").hide()
            $("#errMsg").hide()
            var bank_code = $("#bank").val()
            var bank_name = $( "#bank option:selected" ).text();
            $('#bank_name').val(bank_name);
            $('#bank_code').val(bank_code);
            console.log(bank_code, bank_name);
            var act_number = $("#act_number").val();
            $("#withdrawBtn").html("Verifying Account...");
            $("#withdrawBtn").prop('disabled', true);
            $.ajax({
                url: "/verifyAccount",
                method: "POST",
                data:{account: act_number, bank_code},
                success: (res =>{
                    console.log(res);
                    if (res.status === true) {
                        $("#verify").show()
                        $("#errMsg").hide()
                        $("#message").val(res.message);
                        $("#acctNumber").val(res.data.account_number);
                        $("#acctName").val(res.data.account_name);
                        $("#withdrawBtn").prop('disabled', false);
                        $("#withdrawBtn").html("Withdraw");
                    }else if (res.status === false) {
                        $("#errMsg").show()
                        $("#verify").hide()
                        
                        $("#feedbk").text(res.message)
                        $("#withdrawBtn").html("Unable To Withdraw");
                        $("#withdrawBtn").prop('disabled', true);
                    }else{
                        console.log('error');
                    }
                })
            })
        });
        $("#withdrawBtn").click(()=>{
            $("#showAlert").hide()
            var amount = $("#user_amount").val();
            var act_name = $("#act_name").val();
            var act_number = $("#act_number").val();
            if (amount === "" || act_name === "" || act_number === "") {
                $("#showAlert").show()
                $("#coinBalance").text("Please Fill all fields");
               return
            }
            console.log(amount);
            $('#amount').val(amount);
            
            $('#acct_name').val(act_name);
            $('#acct_number').val(act_number);
            var userId = $('#user_id').val();
            
            $.ajax({
                url:"/withdraw/code",
                method: "post",
                data:{userId, type:"money", amount},
                success:(res) =>{
                    console.log(res);
                    console.log(res);
                    if (res.success === true) {
                        $("#codeBox").show()
                        $("#showAlert").hide()
                    }
                    if (res.success === false) {
                        $("#codeBox").hide()
                        $("#showAlert").show()
                        $("#coinBalance").text(res.msg)
                    }
                }
            })
        })
        
        
        
    })
</script>
</body>

</html>