<!-- header -->
<%- include("../../partials/header") %>
<%- include("../../partials/user_sidebar") %>

<!-- Main Content -->
<div class="main-content">
   
    <section class="section">
        <div class="section-body">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Withdrawals</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped" id="table-1">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th>Amount</th>
                                           
                                            <th>Bank Name</th>
                                            <th>Account Number</th>
                                            <th>Status</th>
                                            <th>Date</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <%  for (let i = 0; i < withdrawals.length; i++ ) { %>
                                        <tr>
                                            <td><%= i+1 %></td>
                                            <td><%= Intl.NumberFormat('en-US', { style: 'currency', currency: 'NGN' }).format((withdrawals[i].amount).toFixed(3)) %></td>
                                            
                                            <td><%= withdrawals[i].acct_name%></td>
                                            <td><%= withdrawals[i].acct_number %></td>
                                            <% if(withdrawals[i].status === "pending"){ %>
                                                <td class="badge badge-danger p-1 mt-2">Unprocessed</td>
                                            <% }else if(withdrawals[i].status === "approved"){ %>
                                                <td class='badge badge-secondary p-1 mt-2'>Processed</td>
                                            <% }else if(withdrawals[i].status === "disapproved"){ %>
                                                <td class='badge badge-secondary p-1 mt-2'>Rejected</td>
                                                <% }else { %>
                                                <td class='badge badge-secondary p-1 mt-2'>Status Error</td>
                                            <% } %>
                                           
                                          
                                            <td><%= moment(withdrawals[i].createdAt).format("DD-MMM-YYYY")  %></td>
                                            <td>
                                                <a href="/view-withdrawal/<%= withdrawals[i].id %> " class="btn btn-primary">View</a>
                                            </td>
                                        </tr>
                                        
                                        
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<%- include("../../partials/user_footer") %>