<!-- header -->
<%- include("../../partials/header") %>
<%- include("../../partials/user_sidebar") %>

<!-- Main Content -->
<div class="main-content">
    <%- include("../../partials/alerts") %>
    <section class="section">
        <div class="section-body">
            <div class="row">
                <div class="col-12">
                   
                    <div class="card">
                        <div class="card-header">
                            <h4>Sell Coin From Internal Wallet Details</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped" id="table-1">
                                    <tbody>
                                        <tr>
                                            <td>Name</td>
                                            <td><%= transaction.user.name %></td>
                                        </tr>
                                        <tr>
                                            <td>Email</td>
                                            <td><%= transaction.user.email %></td>
                                        </tr>
                                        <tr>
                                            <td>Coin Type</td>
                                            <td><%= transaction.coin.name %></td>
                                        </tr>
                                        
                                        <tr>
                                            <td>Transaction reference</td>
                                            <td><%= transaction.reference %></td>
                                        </tr>
                                        <tr>
                                            <td>Current Exchange Rate</td>
                                            <td><%= Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(transaction.coin.dollarRate.toFixed(3))  %></td>
                                        </tr>
                                        <tr>
                                            <td>Quantity</td>
                                            <td><%= transaction.qty %></td>
                                        </tr>
                                        <tr>
                                            <td>Equivalent Naira Amount</td>
                                            <td><%= Intl.NumberFormat('en-US', { style: 'currency', currency: 'NGN' }).format(transaction.nairaAmount.toFixed(3))  %></td>
                                        </tr>
                                        <tr>
                                            <td>Equivalent Dollar Amount</td>
                                            <td><%= Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(transaction.dollarAmount.toFixed(3))  %></td>
                                        </tr>
                                        <tr>
                                            <td>Date</td>
                                            <td><%= moment(transaction.createdAt).format("DD-MM-YYYY") %></td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<%- include("../../partials/user_footer2") %>