<%- include("./partials/headerb") %>

  <!--Accept Our Cookies-->
  <div class="container-fluid cookie-container text-center" id="clock">
    <p>We use cookies to ensure that we give you the best experience on our website.
    To find out more, read our <a href="/privacy">Privacy Policy.</a> <button class="cookie-button" onclick="toggleClock()" id="clockButton">Accept</button>
    </p>
</div>
<!--Accept Our Cookies Ends-->

<!--Header Banner-->
<div class="container-fluid header-banner">
    <div class="row">
        <div class="col-md-4">
            <p class="head-title">Trade	Your <span>Cryptocurrency</span> And <span>Gift Cards</span> At Cheapest Prices<span>!</span></p>
            <p class="head-title-small">We trade cryptocurrency, gift cards	and	electronic assets.</p>
            <a href="/login" class="btn btn-sell-bit-head"><i class="fas fa-level-down-alt"></i> SELL</a>
            <a href="/login" class="btn btn-buy-bit-head"><i class="fas fa-level-up-alt"></i> BUY</a>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-7 banner-img" data-aos="fade-left" data-aos-duration="3000">
            <img src="/assests/img/pc-banner2.png" class="banner-image" alt="img">
        </div>
    </div>
</div>
<!--Header Banner Ends-->

<!--About Us Section-->
<div class="container about-section-home">
    <div class="row">
        <div class="col-md-12 text-center">
            <p class="small-body-text">Best Trading Experience</p>
            <p class="big-body-text">Trade Anywhere & Anytime!</p>
        </div>
        <div class="col-md-5 text-center ball-path">
            <img src="/assests//img/computer.png" data-aos="fade-right" data-aos-duration="2000" width="100%" alt="img">
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-6">
            <p class="about-text-detail-abt">Welcome to PayBuyMax Tech, your number one source for trading cryptocurrency, gift cards and more. We're dedicated to providing you the very best of trading, with an emphasis on integrity, passion and professionalism.</p>
            <p class="about-text-detail-two">Paybuymax is into trading of cryptocurrency, giftcards	and	electronic assets</p>
            <a href="/about" class="btn-about-link">About Us <i class="fa fa-arrow-right link-arrow-right"></i></a>
            <div class="col-md-12">
                <a href="#" class="btn btn-google-play-abt"><img src="/assests/img/google-play.png" alt="link" width="170px"></a>
                <a href="#" class="btn btn-google-play-abt"><img src="/assests/img/app-store.png" alt="link" width="170px"></a>
            </div>
        </div>
    </div>
</div>
<!--About Us Section Ends-->

<!--Body Details 1-->
<div class="container body-details">
    <div class="row">
        <div class="col-md-12 text-center py-5 better-way-invest">
            <p class="small-text-bd1">A BETTER WAY TO INVEST</p>
            <p class="big-text-bd2">The World Leading Crytocurrency Platform</p>
        </div>
        <div class="col-md-4 bd-row">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-2">
                            <img src="/assests/img/num1.png" class="img-bd" alt="number 1">
                        </div>
                        <div class="col-sm-10">
                            <p class="list-head-bd1">100% Satisfaction</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-2">
                            <img src="/assests/img/num2.png" class="img-bd" alt="number 2">
                        </div>
                        <div class="col-sm-10">
                            <p class="list-head-bd1">24/7 Support</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-2">
                            <img src="/assests/img/num3.png" class="img-bd" alt="number 3">
                        </div>
                        <div class="col-sm-10">
                            <p class="list-head-bd1">Smooth Trading</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 bd-row">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-2">
                                    <img src="/assests/img/num4.png" class="img-bd" alt="number 4">
                                </div>
                                <div class="col-sm-10">
                                    <p class="list-head-bd1">Risk Free Investment</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <img src="/assests/img/num5.png" class="img-bd" alt="number 1">
                        </div>
                        <div class="col-sm-10">
                            <p class="list-head-bd1">Bonus & Incentives</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-2">
                            <img src="/assests/img/num6.png" class="img-bd" alt="number 1">
                        </div>
                        <div class="col-sm-10">
                            <p class="list-head-bd1">Low Cost Trading</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 text-center ball-path" data-aos="fade-up" data-aos-duration="2000">
            <img src="/assests/img/centerd-phone.png" class="img-phone" alt="phone">
        </div>
    </div>
</div>
<!--Body Details 1 Ends-->

<!-- Gifts Cards Section Starts -->
<div class="container gift-card-section text-center">
    <div class="row">
        <div class="col-md-12 text-center py-1 better-way-invest">
            <p class="small-text-bd1">GIFT CARDS</p>
            <p class="big-text-bd2">Types Of Gift Cards</p>
        </div>
        <div class="col-lg-12">
            <div class="row logo-box-gift-cards-div text-center">
                <div class="logo-box-gift-cards">
                    <img src="/assests/img/gift-cards1.png" title="iTunes" alt="iTunes">
                </div>
                <div class="logo-box-gift-cards">
                    <img src="/assests/img/gift-cards2.png" title="Starbucks" alt="Starbucks">
                </div>
                <div class="logo-box-gift-cards">
                    <img src="/assests/img/gift-cards3.png" title="Walmart" alt="Walmart">
                </div>
                <div class="logo-box-gift-cards">
                    <img src="/assests/img/gift-cards4.png" title="Victoria's Secret" alt="Victoria's Secret">
                </div>
                <div class="logo-box-gift-cards">
                    <img src="/assests/img/gift-cards5.png" title="Target" alt="Target">
                </div>
                <div class="logo-box-gift-cards">
                    <img src="/assests/img/gift-cards6.png" title="Amazon" alt="Amazon">
                </div>
                <div class="logo-box-gift-cards">
                    <img src="/assests/img/gift-cards7.png" title="Best Buy" alt="Best Buy">
                </div>
                <div class="logo-box-gift-cards">
                    <img src="/assests/img/gift-cards8.png" title="Chipotle" alt="Chipotle">
                </div>
                <div class="logo-box-gift-cards">
                    <img src="/assests/img/gift-cards9.png" title="Fandango" alt="Fandango">
                </div>
                <div class="logo-box-gift-cards">
                    <img src="/assests/img/gift-cards10.png" title="Sephora" alt="Sephora">
                </div>
                <div class="logo-box-gift-cards">
                    <img src="/assests/img/gift-cards11.png" title="Google Play" alt="Google Play">
                </div>
                <div class="logo-box-gift-cards">
                    <img src="/assests/img/gift-cards12.png" title="Nike" alt="Nike">
                </div>
                <div class="logo-box-gift-cards">
                    <img src="/assests/img/gift-cards13.png" title="Vanilla" alt="Vanilla">
                </div>
                <div class="logo-box-gift-cards">
                    <img src="/assests/img/gift-cards14.png" title="Google Play" alt="Google Play">
                </div>
                <div class="logo-box-gift-cards">
                    <img src="/assests/img/gift-cards15.png" title="Google Play" alt="Google Play">
                </div>
                <div class="logo-box-gift-cards">
                    <img src="/assests/img/gift-cards16.png" title="Google Play" alt="Google Play">
                </div>
                <div class="logo-box-gift-cards">
                    <img src="/assests/img/gift-cards17.png" title="eBay" alt="eBay">
                </div>
                <div class="logo-box-gift-cards">
                    <img src="/assests/img/gift-cards18.png" title="Razor Gold" alt="Razor Gold">
                </div>
                <div class="logo-box-gift-cards">
                    <img src="/assests/img/gift-cards19.png" title="UCPenny" alt="UCPenny">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Gifts Cards Section Starts -->

<!--Live Updates-->
<div class="marquee mb-5">
    <marquee behavior="scroll" direction="" style="font-size: 18px;">
        <img style="width: 20px" src="/assests/img/btc.svg" alt="BTC" />
        Bitcoin[BTC] $32,073.00-4.16%, <span style="padding-right: 30px;"></span>
        <img style="width: 20px" src="/assests/img/ethereum-eth-logo.svg" alt="ETH" />
        Ethereum[ETH] $32,073.00-4.16%, <span style="padding-right: 30px;"></span>
        <img style="width: 20px" src="/assests/img/tether-usdt-logo.svg" alt="USDT" />
        Tether[USDT] $32,073.00-4.16%
    </marquee>
</div>
<div class="container my-5">
<table class="table table-borderless table-hover">
    <thead>
    <tr>
        <th class="hidden" scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Symbol</th>
        <th scope="col">Price</th>
        <th class="hidden" scope="col">Change</th>
        <th class="hidden" scope="col">Market Cap</th>
        <th class="hidden" scope="col">Trade</th>
    </tr>
    </thead>
    <tbody>
        <% for( let i = 0; i < coins.length; i++ ) { %>
        <tr>
            <td class="hidden"><%= i+1 %> </td>
            <td><img style="width: 30px; padding-right: 5px;" src="<%= coins[i].image %> " alt=""> <span> <%= coins[i].id %>  <%= coins[i].symbol.toUpperCase() %></span> </td>
            <td> <span> <%= coins[i].symbol.toUpperCase() %></span> </td>
            <td> <%= Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format((Number(coins[i].current_price)) )   %></td>
            <td class="hidden" style="color: red;"><%= (coins[i].price_change_percentage_24h).toFixed(2) %> %</td>
            <td class="hidden"><%= Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format((Number(coins[i].market_cap)) )   %></td>
            <td class="hidden"><button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" style="font-size: 13px;" class="btn btn-success">Buy</button></td>
        </tr>
        <% } %>
        
    </tbody>
</table>
</div>
<!--Live Updates Ends-->

<!--Buy and Sell Section-->
<div class="bg-video-buy-sell">
    <video class="video-download-buy-sell" src="/assests/img/Paybuymax-buy-and-sell.mp4" loop muted autoplay>
    </video>
    <div class="overlay-buy-sell">
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 download-text-div-buy-sell">
                <div class="border-left-buy-sell">
                    <p class="download-text-buy-sell">Start Trading Today!</p>
                    <p class="download-text-below">Our dynamic platform developed specifically for easy trading and investments.</p>
                    <a href="/login" class="btn btn-sell-bit"><i class="fas fa-level-down-alt"></i> SELL</a>
                    <a href="/login" class="btn btn-buy-bit"><i class="fas fa-level-up-alt"></i> BUY</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Buy and Sell Section Ends-->

<!-- Pricing Plan Section-->
<div class="pricing-table py-5 home-price">
    <div class="col-md-12 text-center core-values">
        <p class="small-text-bd1">PRICING</p>
        <p class="big-body-text">Amazing Pricing Plan</p>
    </div> 
    <div class="pricing-card" data-aos="fade-up" data-aos-duration="2000">
      <h3 class="pricing-card-header">Bronze Plan</h3>
      <div class="price">&#8358;50,000-&#8358;999,999</div>
      <ul>
        <li><strong></strong><i class="fas fa-check-circle li-icon"></i> 3 Months Duration</li>
        <li><strong></strong><i class="fas fa-check-circle li-icon"></i> 10% Commision</li>
        <li><strong></strong><i class="fas fa-check-circle li-icon"></i> <b>Bonus:</b> Branded T-shirt, Pen and Mug</li>
        <li><strong></strong><i class="fas fa-check-circle li-icon"></i> <b>Admin Charge:</b> 4% of Commission</li>
      </ul>
      <a href="#" class="order-btn">Invest Now</a>
    </div>
  
    <div class="pricing-card" data-aos="fade-up" data-aos-duration="2000">
        <h3 class="pricing-card-header">Silver Plan</h3>
        <div class="price">&#8358;1,000,000-&#8358;4,999,999</div>
        <ul>
          <li><strong></strong><i class="fas fa-check-circle li-icon"></i> 6 Months Duration</li>
          <li><strong></strong><i class="fas fa-check-circle li-icon"></i> 20% Commision</li>
          <li><strong></strong><i class="fas fa-check-circle li-icon"></i> <b>Bonus:</b> Dinner (buffet) For Two in a Five Star Hotel</li>
          <li><strong></strong><i class="fas fa-check-circle li-icon"></i> <b>Admin Charge:</b> 6% of Commission</li>
        </ul>
        <a href="#" class="order-btn">Invest Now</a>
    </div>
  
    <div class="pricing-card" data-aos="fade-up" data-aos-duration="2000">
        <h3 class="pricing-card-header">Gold Plan</h3>
        <div class="price">&#8358;5,000,000-&#8358;9,999,999</div>
        <ul>
          <li><strong></strong><i class="fas fa-check-circle li-icon"></i> 9 Months Duration</li>
          <li><strong></strong><i class="fas fa-check-circle li-icon"></i> 30% Commision</li>
          <li><strong></strong><i class="fas fa-check-circle li-icon"></i> <b>Bonus:</b> Fully Sponsored Trip to Ghana or Kenya</li>
          <li><strong></strong><i class="fas fa-check-circle li-icon"></i> <b>Admin Charge:</b> 8% of Commission</li>
        </ul>
        <a href="#" class="order-btn">Invest Now</a>
      </div>

      <div class="pricing-card" data-aos="fade-up" data-aos-duration="2000">
        <h3 class="pricing-card-header">Diamond Plan</h3>
        <div class="price">&#8358;10,000,000-&#8358;15,000,000</div>
        <ul>
          <li><strong></strong><i class="fas fa-check-circle li-icon"></i> 12 Months Duration</li>
          <li><strong></strong><i class="fas fa-check-circle li-icon"></i> 50% Commision</li>
          <li><strong></strong><i class="fas fa-check-circle li-icon"></i> <b>Bonus:</b> Fully Sponsored Trip to Dubai</li>
          <li><strong></strong><i class="fas fa-check-circle li-icon"></i> <b>Admin Charge:</b> 10% of Commission</li>
        </ul>
        <a href="#" class="order-btn">Invest Now</a>
      </div>
</div>
<!-- Pricing Plan Section Ends-->

<!--Download Mobile App-->
<div class="bg-video-wrap">
    <video class="video-download" src="/assests/img/PayBuyMax-Bitcoin-video.mp4" loop muted autoplay>
    </video>
    <div class="overlay">
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 download-text-div">
                <p class="download-text">Download Our Mobile App For A Whole New Experience!</p>
                <a href="#" class="btn btn-google-play"><img src="/assests/img/google-play.png" alt="link" width="140px"></a>
                <a href="#" class="btn btn-google-play"><img src="/assests/img/app-store.png" alt="link" width="140px"></a>
            </div>
            <div class="col-md-6 div-curved-img" data-aos="fade-up" data-aos-duration="2000">
                <img class="mobile-phone-img" src="/assests/img/curved-phones-news.png" alt="phone">
            </div>
        </div>
    </div>
</div>
<!--Download Mobile App Ends-->

<!--Training Section-->
<div class="container py-5 begin-div-learn">
    <div class="row">
        <div class="col-md-12 text-center py-2">
            <p class="small-text-bd1">Training</p>
            <p class="big-text-bd2">Learn More About Crypto and Blockchain</p>
        </div>
        <div class="col-md-5 text-center ball-path py-3">
            <img src="/assests//img/learn-crypto.png" data-aos="fade-right" data-aos-duration="2000" width="100%" alt="img">
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-6 learn-more">
            <p class="about-text-detail-abt">No matter how well-informed and educated you think you are, the topics of blockchain and cryptocurrency are inexhaustible. You more than likely won’t start trading like a pro or go all the way to the deep depths of blockchain tech in a month, but if you’re focused and consistent enough in your self-educating process you are destined to succeed. So the main trick is to keep the self-education process going. </p>
            <br>
            <a href="/training" class="btn-about-link">Learn More <i class="fa fa-arrow-right link-arrow-right"></i></a>
        </div>
        <div>

        </div>
    </div>
</div>
<!--Training Section Ends-->

<!--FAQ Section-->
<div class="container begin-div">
    <div class="row">
        <div class="col-md-12 text-center py-2">
            <p class="small-text-bd1">(FAQ)</p>
            <p class="big-text-bd2">Frequently Asked Questions</p>
        </div>
        <div class="col-lg-7">
            <div class="row">
                <div class="col-md-12">
                    <button class="accordion"><span class="fa fa-check-circle icon-accordion"></span>How long before i get credited?</button>
                    <div class="panel">
                    <p>Instantly!</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <button class="accordion"><span class="fa fa-check-circle icon-accordion"></span>Can I cancel my investment plan?</button>
                    <div class="panel">
                    <p>Yes, You can cancel your investment plan after 4weeks from the day of investing.</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <button class="accordion"><span class="fa fa-check-circle icon-accordion"></span>What is your fees charges?</button>
                    <div class="panel">
                    <p>Investing on our platform is totally free. We strive to maintain integrity, passion and professionalism in our dealings.</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <button class="accordion"><span class="fa fa-check-circle icon-accordion"></span>What is your referral bonus?</button>
                    <div class="panel">
                    <p>You can earn upto 10% of the capital invested by your referral. Your commission will be paid instantly as soon as your referral invests.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <img src="/assests/img/faq.png" class="faq-img" alt="img">
        </div>
    </div>
</div>
<!--FAQ Section Ends-->

<%- include("./partials/footer") %>