<!-- header -->
<%- include("../../partials/header_admin") %>
<%- include("../../partials/sidebar") %>

<!-- Main Content -->
<div class="main-content">
    <%- include("../../partials/alerts") %>
   
    
        <section class="section">
            <div class="section-body">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-12">
                        <form action="/external/create-receipt" method="POST" class="needs-validation" novalidate="">
                            <input type="hidden" name="traderId" value="<%= admin.id  %> ">
                            <div class="card">
                                <div class="card-header">
                                    <h4>Generate Receipt For Transaction</h4>
                                   
                                </div>
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="name">Customer Name</label>
                                        <input id="name" type="text" class="form-control" name="name" tabindex="1" required autofocus>
                                        <div class="invalid-feedback">
                                            Please fill in Customer name
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Customer Email</label>
                                        <input id="email" type="text" class="form-control" name="email" tabindex="1" required autofocus>
                                        <div class="invalid-feedback">
                                            Please fill in Customer Email
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="">Account Name</label>
                                        <input type="text" class="form-control" id="act_name" name="acctName"
                                            tabindex="1" required autofocus>
                                        <div class="invalid-feedback">
                                            Please fill in your account name
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="">Account Number</label>
                                        <input type="text" class="form-control" name="acctNumber" tabindex="1" id="act_number"
                                            required autofocus>
                                        <div class="invalid-feedback">
                                            Please fill in account number
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="name">Bank Name</label>
                                        <input type="text" class="form-control" id="bankName" name="bankName" tabindex="1" required
                                            autofocus>
                                        <div class="invalid-feedback">
                                            Please fill in Bank Name
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="duration">Package Type</label>
                                        <select name="coinId" id="coin" class="form-control" required>
                                            <option value="" disabled selected>Select Coin</option>
                                            <% for(let i=0; i< products.length; i++) { %> 
                                            <option value="<%= products[i].id  %>"><%= products[i].name  %></option>
                                            <% } %> 
                                        </select>

                                       
                                    </div>

                                    <div class="form-group">
                                        <label for="">Sell Transaction</label>
                                        <select name="transaction" id="transaction" class="form-control" required>
                                            <option value="" disabled selected>Choose Transaction Type</option>
                                            <option value="SELL">SELL</option>
                                            <option value="BUY">BUY</option>
                                            <option value="FUND_WALLET">FUND NAIRA WALLET</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            Please select Transaction Type
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="">Sell By</label>
                                        <select name="medium" id="medium" class="form-control" required>
                                            <option value="" disabled selected>Choose medium</option>
                                            <option value="usd">USD</option>
                                            <option value="naira">Naira</option>
                                            <option value="qty">Quantity</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            Please select Medium of calculation
                                        </div>
                                    </div>
                                    
                                    
                                    
                                    <div class="form-group">
                                        <label for="name">Amount</label>
                                        <input type="number" class="form-control" step="any" name="quantity" id="qty" tabindex="1" required
                                            autofocus>
                                        <div class="invalid-feedback">
                                            Please fill in amount
                                        </div>
                                        <div class="invalid-feedback" id="rate-box" style="display: none;">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    Dollar Exchange Rate<input type="number" value="dollarRate" name="rate" id="rate" class="form-control" readonly>
                                                </div>
                                                <div class="col-md-6">
                                                    Naira Exchange Rate<input type="number" value="" name="nairaRate" id="nairaRate" class="form-control" readonly>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group" id="amt" style="display: none;">
                                        <div class="row">
                                            <div class="col-md-4 form-group" style="display: none;" id="usdBox">
                                                <label for="">USD Equivalent</label>
                                                <input type="text" class="form-control" step="any" readonly value="" id="usdE">
                                            </div>
                                        
                                            <div class="col-md-4 form-group" style="display: none;" id="nairaBox">
                                                <label for="">Naira Equivalent</label>
                                                <input type="text" class="form-control" step="any" readonly value="" id="nairaE">
                                            </div>
                                        
                                            <div class="col-md-4 form-group" style="display: none;" id="qtyBox">
                                                <label for="">Quantity Equivalent</label>
                                                <input type="text" class="form-control" step="any" readonly value="" id="qtyE">
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" name="sellBy" id="sellBy">
                                </div>
                                <div class="card-footer text-right">
                                    <button class="btn btn-primary btn-block"
                                    type="submit">Generate Transaction</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
<%- include("../../partials/footer2") %>
<script>
    $("#coin").change(()=>{
        const id = $("#coin").val();
        $("#qty").val('')
        $("#qtyE").val('')
        $("#usdE").val('')
        $("#nairaE").val('')
        console.log(id);
        $.ajax({
            url:`/get/exchange/${id}`,
            method:"get",
            success:(res=>{
                console.log(res);
                $("#rate-box").show();
                $("#rate").val(res.dollarRate)
                $("#nairaRate").val(res.rate)
                
            })
        })
        
    })
    $("#quantity").keyup(()=>{
        var rate = $("#rate").val();
        var qty = $("#quantity").val();
        const cost = rate * qty;
        console.log(rate, qty, cost);
        $("#amount").val(cost)
    })

    $('#medium').change(()=>{
            
            $("#qty").val('')
            $("#qtyE").val('')
            $("#usdE").val('')
            $("#nairaE").val('')
            var medium = $('#medium').val();
            console.log(medium);
            if (medium === "usd") {
                $("#nairaBox").hide();
                $("#qtyBox").show();
                $("#usdBox").hide();
                $("#sellBy").val(medium)
            }else if (medium === "naira") {
                $("#usdBox").hide();
                $("#qtyBox").show();
                $("#nairaBox").hide();
                $("#sellBy").val(medium)
            }else if (medium === "qty") {
                $("#nairaBox").show();
                $("#qtyBox").hide();
                $("#usdBox").show();
                $("#sellBy").val(medium)
            }else{
                $("#amt").hide()
            }
                    
                
            $("#amt").show()
            
        })

        $("#qty").keyup(()=>{
            var dollarRate = $("#rate").val()
            var nairaRate = $("#nairaRate").val()
            var medium = $('#medium').val();
            var amount =$('#qty').val();
            if (medium === "usd") {
                var x = (amount/dollarRate).toFixed(5)
                
                $("#qtyE").val(x)
                // $("#nairaE").val(y)
            }else if (medium === "naira") {
                var x = (amount/nairaRate).toFixed(5)
                // var y = (amount/nairaRate)
                $("#qtyE").val(x)
            }else if (medium === "qty") {
                var x = (amount*dollarRate).toFixed(5)
                x = Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(x)
                var y = (amount*nairaRate).toFixed(5)
                y = Intl.NumberFormat('en-US', { style: 'currency', currency: 'NGN' }).format(y)
                $("#usdE").val(x)
                $("#nairaE").val(y)
            }else{
                $("#amt").hide()
            }
        })
</script>